.body {
    background-color: pink;

    .search-line {
        width: 100%;
        height: 40px;
        margin: 5px auto;
        background: #444;
        background: rgba(0, 0, 0, .2);
        border-radius: 3px;
        border: 1px solid #fff;


        .search {
            width: 370px;
            padding: 10px 5px;
            float: left;
            color: #fff;
            border: 0;
            background: transparent;
            border-radius: 3px 0 0 3px;
            text-align: left;

            &:focus {
                outline: 0;
                background: transparent;
            }
        }

        .search-btn {
            position: relative;
            float: right;
            border: 0;
            padding: 0;
            cursor: pointer;
            height: 40px;
            width: 120px;
            color: #fff;
            background: transparent;
            border-left: 1px solid #fff;
            border-radius: 0 3px 3px 0;

            &:hover {
                background: #fff;
                color: #444;
            }

            &:active {
                box-shadow: 0px 0px 12px 0px rgba(225, 225, 225, 1);
            }

            &:focus {
                outline: 0;
            }
        }
    }

    h2 {
        text-align: center;
    }

    .result-row {
        .suggetion{
            
        }
        .result-user {
            .details {
                text-align: center;
                img{
                    width: 200px;
                    height: 200px;
                    border: 1px solid pink;
                    border-radius: 50%;
                }
            }
        }
        .de-1 {
                padding: 5px;
                border: solid 2px pink;
                background-color: white;
                color: black;
                text-align: center;

                
         }
        
    }
    .inDetails{
        .suggetion{

        }
        .repo-col{
            table, td, th, tr {
                border: 1px solid pink;
              }
              
              table {
                width: 100%;
                border-collapse: collapse;
              }
        }
    }

}